In [3]:
import spacy
from gensim.models import Word2Vec

# Define a function to process the text and extract tokens
def process_text(text):
    nlp = spacy.load("en_core_web_sm")
    doc = nlp(text)
    tokens = [token.text for token in doc if not token.is_stop and token.is_alpha]
    return tokens

# Define your dataset as a list of sentences
sentences = [
    "What is Terrence Ross' nationality",
    "What clu was in Toronto 1995-96",
    # ... Add all your questions here ...
]

# Tokenize the sentences
tokenized_sentences = [process_text(sentence) for sentence in sentences]

# Train a Word2Vec model
model = Word2Vec(sentences=tokenized_sentences, vector_size=100, window=5, min_count=1, sg=0)

# Save the model
# model.save("word2vec_model")

# Now, you can use the model to get word embeddings for each word in your dataset.
# For example, to get the word embedding for "Terrence", you can use:
vector = model.wv['Terrence']

In [4]:
vector

array([-0.00713902,  0.00124103, -0.00717672, -0.00224462,  0.0037193 ,
        0.00583312,  0.00119818,  0.00210273, -0.00411039,  0.00722533,
       -0.00630704,  0.00464722, -0.00821997,  0.00203647, -0.00497705,
       -0.00424769, -0.00310898,  0.00565521,  0.0057984 , -0.00497465,
        0.00077333, -0.00849578,  0.00780981,  0.00925729, -0.00274233,
        0.00080022,  0.00074665,  0.00547788, -0.00860608,  0.00058446,
        0.00686942,  0.00223159,  0.00112468, -0.00932216,  0.00848237,
       -0.00626413, -0.00299237,  0.00349379, -0.00077263,  0.00141129,
        0.00178199, -0.0068289 , -0.00972481,  0.00904058,  0.00619805,
       -0.00691293,  0.00340348,  0.00020606,  0.00475375, -0.00711994,
        0.00402695,  0.00434743,  0.00995737, -0.00447374, -0.00138926,
       -0.00731732, -0.00969783, -0.00908026, -0.00102275, -0.00650329,
        0.00484973, -0.00616403,  0.00251919,  0.00073944, -0.00339215,
       -0.00097922,  0.00997913,  0.00914589, -0.00446183,  0.00908303,
       -0.00564176,  0.00593092, -0.00309722,  0.00343175,  0.00301723,
        0.00690046, -0.00237388,  0.00877504,  0.00758943, -0.00954765,
       -0.00800821, -0.0076379 ,  0.00292326, -0.00279472, -0.00692952,
       -0.00812826,  0.00830918,  0.00199049, -0.00932802, -0.00479272,
        0.00313674, -0.00471321,  0.00528084, -0.00423344,  0.0026418 ,
       -0.00804569,  0.00620989,  0.00481889,  0.00078719,  0.00301345],
      dtype=float32)

In [5]:
import pandas as pd

# Assuming your CSV file is named 'data.csv', provide the correct path if it's different
df = pd.read_csv('train.csv')

In [6]:
df

,question,sql
0,Tell me what the notes are for South Australia,SELECT Notes FROM table WHERE Current slogan =...
1,What is the current series where the new serie...,SELECT Current series FROM table WHERE Notes =...
2,What is the format for South Australia?,SELECT Format FROM table WHERE State/territory...
3,Name the background colour for the Australian ...,SELECT Text/background colour FROM table WHERE...
4,how many times is the fuel propulsion is cng?,SELECT COUNT Fleet Series (Quantity) FROM tabl...
...,...,...
56350,What time was the match played with a score of...,SELECT Time FROM table WHERE Score = 3-2
56351,On which ground did the team play Aston Villa?,SELECT Ground FROM table WHERE Opponent = asto...
56352,What kind of competition was it at San Siro at...,SELECT Competition FROM table WHERE Ground = s...
56353,What is the total number of decile for the red...,SELECT COUNT Decile FROM table WHERE Name = re...
56354,Which report includes a Circuit of Tripoli?,SELECT Report FROM table WHERE Circuit = tripoli

In [8]:
df.head

<bound method NDFrame.head of                                                 question
0        Tell me what the notes are for South Australia   \
1      What is the current series where the new serie...
2                What is the format for South Australia?
3      Name the background colour for the Australian ...
4          how many times is the fuel propulsion is cng?
...                                                  ...
56350  What time was the match played with a score of...
56351     On which ground did the team play Aston Villa?
56352  What kind of competition was it at San Siro at...
56353  What is the total number of decile for the red...
56354        Which report includes a Circuit of Tripoli?

                                                     sql
0      SELECT Notes FROM table WHERE Current slogan =...
1      SELECT Current series FROM table WHERE Notes =...
2      SELECT Format FROM table WHERE State/territory...
3      SELECT Text/background colour FROM table WHERE...
4      SELECT COUNT Fleet Series (Quantity) FROM tabl...
...                                                  ...
56350           SELECT Time FROM table WHERE Score = 3-2
56351  SELECT Ground FROM table WHERE Opponent = asto...
56352  SELECT Competition FROM table WHERE Ground = s...
56353  SELECT COUNT Decile FROM table WHERE Name = re...
56354   SELECT Report FROM table WHERE Circuit = tripoli

[56355 rows x 2 columns]>

In [10]:
array=df.values

In [11]:
array

array([['Tell me what the notes are for South Australia ',
        'SELECT Notes FROM table WHERE Current slogan = SOUTH AUSTRALIA'],
       ['What is the current series where the new series began in June 2011?',
        'SELECT Current series FROM table WHERE Notes = New series began in June 2011'],
       ['What is the format for South Australia?',
        'SELECT Format FROM table WHERE State/territory = South Australia'],
       ...,
       ['What kind of competition was it at San Siro at 18:30 GMT?',
        'SELECT Competition FROM table WHERE Ground = san siro AND Time = 18:30 gmt'],
       ['What is the total number of decile for the redwood school locality?',
        'SELECT COUNT Decile FROM table WHERE Name = redwood school'],
       ['Which report includes a Circuit of Tripoli?',
        'SELECT Report FROM table WHERE Circuit = tripoli']], dtype=object)

In [13]:
import spacy
from gensim.models import Word2Vec

# Define a function to process the text and extract tokens
def process_text(text):
    nlp = spacy.load("en_core_web_sm")
    doc = nlp(text)
    tokens = [token.text for token in doc if not token.is_stop and token.is_alpha]
    return tokens

# Define your dataset as a list of tuples, where each tuple contains (input_query, output_query)
# queries = [
#     ("What is Terrence Ross' nationality", "SELECT Nationality FROM table WHERE Player = Terrence Ross"),
#     ("What clu was in Toronto 1995-96", "SELECT School/Club Team FROM table WHERE Years in Toronto = 1995-96"),
#     # ... Add all your queries here ...
# ]

# Tokenize the queries
tokenized_queries = [(process_text(input_query), process_text(output_query)) for input_query, output_query in array]

# Flatten the list of tokenized queries to get all unique words
all_words = [word for input_query, output_query in tokenized_queries for word in input_query + output_query]

# Train a Word2Vec model
model = Word2Vec(sentences=[all_words], vector_size=100, window=5, min_count=1, sg=0)

# Save the model
model.save("word2vec_model")

# Now, you can use the model to get word embeddings for each word in your queries.
# For example, to get the word embedding for "Terrence", you can use:
# vector = model.wv['Terrence']